################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DownNotifierProject/.vs
/DownNotifierProject/WebApp/DownNotifier.WebApp.csproj.user
/DownNotifierProject/WebApp/bin/Debug/net7.0
/DownNotifierProject/WebApp/obj/Debug/net7.0
