<!DOCTYPE html>
<html>
<head>
    <title>Health Check</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Health Check</h1>
        <form method="post" action="/Monitoring/healthCheck">
            <button type="submit" class="btn btn-primary">Health Check</button>
        </form>
    </div>
</body>
</html>
